@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(148, 196, 255);
  overflow: scroll;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 4px solid rgb(203, 149, 253);
  width: 70vw;
  max-width: 600px;
  height: 70vh;
  background-color: #fff;
}

.toolbox {
  background-color: rgb(203, 149, 253);
  border: 2px solid rgb(203, 149, 253);
  display: flex;
  width: 70vw;
  max-width: 600px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #e9e9e9;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  color: #333;
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 2.5px;
  cursor: pointer;
  font-weight: 600;
}

.toolbox > *:last-child {
  margin-left: auto;
  background-color: #e9e9e9;
  cursor: pointer;
  width: auto;
  font-size: 1.25rem;
  font-family: inherit;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
  color: #333;
}

@media (max-width: 700px) {
  canvas {
    width: calc(70vh - 100px);
    height: calc(70vh - 100px);
  }

  .toolbox {
    width: calc(70vh - 100px);
  }

  .toolbox > * {
    font-size: 1.5rem;
    height: 30px;
    width: 30px;
    padding: 0.25rem;
  }
}
