@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  overflow: scroll;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
canvas {
  border: 2px solid steelblue;
  width: 100%; /* Ensure canvas takes full width */
  height: 70vh; /* Set initial height to maintain aspect ratio */
}
.toolbox {
  background-color: steelblue;
  border: 1px solid slateblue;
  display: flex;
  width: 603px;
  padding: 1rem;
}
.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  color: #333;
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 2.5px;
  cursor: pointer;
  font-weight: 600;
}
.toolbox > *:last-child {
  margin-left: auto;
  background-color: #f5f5f5;
  cursor: pointer;
}
h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
  color: #333;
}
@media (max-width: 700px) {
  .toolbox {
    width: 90%;
  }
  canvas {
    height: calc(70vh - 40px); /* Adjusted height using calc expression */
  }
  .toolbox > * {
    font-size: 1.5rem;
    height: 30px;
    width: 30px;
    padding: 0.25rem;
  }
}
